
{% extends 'rentCar/index.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<header class="header">
    {% if request.user.is_authenticated %}
        <div class="headerLeft">
        <p><a href="{% url 'cars' %}"><i class="fa-solid fa-house"></i></a></p>
        <p><a href="{% url 'user' %}">{{ request.user }}</a></p>
        </div>
        <div class="headerLeft">
        <p><a href="{% url 'nothification' %}"><i class="fa-solid fa-bell"></i></a></p>
        <p><a href="{% url 'add_car' %}"><i class="fa-solid fa-plus"></i></a></p>
        <p><a href="{% url 'settings' %}"><i class="fa-solid fa-gear"></i></a></p>
        
        <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
    {% else %}
        <p><a href="{% url 'auth' %}">Login</a></p>
    {% endif %}
</header>
{% for car in cars %} 
    
                    <div class="card" style="border: 1px solid black; border-radius: 5px; padding: 10px; width: 25%; height:  350px; margin-top: 20px;">
                        <img src="../../../media/{{ car.image }}" alt="">
                            <div class="card-body" style="border-top: 1px solid black;">
                                    <p class="card-text">Brand: {{ car.brand }}</p>
                                    <p class="card-text">Model: {{ car.model }}</p>
                                    <p class="card-text"><small class="text-body-secondary">Year: {{ car.year }}</small></p>
                                    <p class="card-text"><small class="text-body-secondary">Price: {{ car.price }}</small></p>
                                    
                            </div>
                        </div>
                    </div>
                {% endfor %}
    
{% endblock %}