{% extends 'rentCar/index.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<header class="header">
    {% if request.user.is_authenticated %}
        <div class="headerLeft">
        <p><a href="{% url 'cars' %}"><i class="fa-solid fa-house"></i></a></p>
        <p><a href="{% url 'user' %}">{{ request.user }}</a></p>
        </div>
        <div class="headerLeft">
        <p><a href="{% url 'nothification' %}"><i class="fa-solid fa-bell"></i></a></p>
        <p><a href="{% url 'add_car' %}"><i class="fa-solid fa-plus"></i></a></p>
        <p><a href="{% url 'settings' %}"><i class="fa-solid fa-gear"></i></a></p>
        
        <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
    {% else %}
        <p><a href="{% url 'auth' %}">Login</a></p>
    {% endif %}
</header>
    <div class="user" style="border: 1px solid black;  margin-left: 550px; width: 25%; margin-top: 50px;">
    <p><i class="fa-solid fa-user" style="font-size: 50px;"></i></p>
    <p style="font-size: 25px;">{{ request.user }}</p>
    <p style="font-size: 25px;">Phone number: 111-222-333</p>
    <p><a href="" style="font-size: 25px;">email: sticmtic@gmail.com</a></p>
    
    
    </div>
    
{% endblock %}