<div class="cars" >
    <div class="liked" style="margin-top: 70px;" >
        <h1>Favorite cars</h1>
        <div class="card-group" style="display: flex; flex-direction: row; justify-content: space-around;">
            <div class="card" style="border: 1px solid black; border-radius: 5px; padding: 10px;">
                
                <img src="../../../media/car_images/images.png" alt="">
              <div class="card-body">
                <h5 class="card-title">Toyota</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
            <div class="card" >
              <img src="../../../media/car_images/BMW.png" alt="">
              <div class="card-body">
                <h5 class="card-title">BMW</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../media/car_images/MERC.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">Mercedes-Benz</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../media/car_images/AUDI.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">AUDI</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
          </div>
    </div>
    <div class="random" style="margin-top: 70px;">
        <h1>Random cars</h1>
        <div class="card-group" style="display: flex; flex-direction: row; justify-content: space-around;">
            <div class="card">
              <img src="../../../media/car_images/images.png" alt="">
              <div class="card-body">
                <h5 class="card-title">Toyota</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../media/car_images/BMW.png" alt="">
              <div class="card-body">
                <h5 class="card-title">BMW</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../media/car_images/MERC.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">Mercedes-Benz</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
            <div class="card">
              <img src="../../../media/car_images/AUDI.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">AUDI</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
          </div>
    </div>
    </div>